/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* Tło strony */

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#5DADE2,#48C9B0);

    padding:20px;
}

.chat-container{

    width:100%;
    max-width:700px;
    height:700px;

    display:flex;
    flex-direction:column;

    background:white;

    border-radius:18px;

    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.chat-header{

    padding:20px;

    text-align:center;

    font-size:24px;
    font-weight:bold;

    background:#3498DB;

    color:white;
}

.chat-box{

    flex:1;

    padding:20px;

    overflow-y:auto;

    display:flex;
    flex-direction:column;

    gap:12px;

    background:#F8F9F9;
}

.bot-message,
.user-message{

    max-width:80%;

    padding:12px 16px;

    white-space: pre-line;

    border-radius:15px;

    line-height:1.5;
}

.bot-message{

    align-self:flex-start;

    background:#2C3E50;

    color:white;
}
.user-message{

    align-self:flex-end;

    background:#2ECC71;

    color:white;
}

.chat-input{

    display:flex;

    gap:10px;

    padding:15px;

    border-top:1px solid #ddd;

    background:white;
}

.chat-input input{

    flex:1;

    padding:12px;

    border:1px solid #ccc;

    border-radius:10px;

    outline:none;
}

.chat-input button{

    padding:12px 20px;

    border:none;

    border-radius:10px;

    background:#3498DB;

    color:white;

    cursor:pointer;

    transition:.3s;
}

.chat-input button:hover{

    background:#2E86C1;
}

@media(max-width:768px){

    .chat-container{

        height:100vh;

        border-radius:0;
    }
}

// większość kolorów ksztaótów i cieni pochodzi z https://uigradients.com/ i https://www.cssmatic.com/box-shadow
// o ile nie jest to wprost kopiowane, to są to moje własne modyfikacje i połączenia kolorów i kształtów, które powstały w wyniku eksperymentowania z tymi narzędziami.
//zastanawianie się nad kolorami samemu było by już uber puryzmem a nie o to tutaj chodzi